body{
    padding: 0%;
    margin: 5%;
    margin-top: 0%;
    font-family: 'Roboto Flex', sans-serif;
    background-image: url(img/poke\ yamilka.jpg);
    background-attachment: fixed;
    background-size: cover;

}
header {
    display: flex;
    justify-content: center;
    padding: 10px;

}
header div img{
    align-content: center;
    justify-content: center;
    object-fit: contain;
    width: 300px;
    border: 5px solid black;
    border-radius: 20px;
}
/* h1{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    width: 15%;
    font-size: 3rem;
    padding: 20px 0 20px 0;
    border: 10px solid;
} */
body pre {
    display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-auto-flow: row;
            gap: 20px 20px;
}
.pokemon-block{
    background-color: white;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: 10px solid;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 40px 40px 0 0 ;

}
.number{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: black;
    color: white;
    margin-top: 0;
    font-family: 'Roboto Flex', sans-serif;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Flex', sans-serif;
}
.weight{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Flex', sans-serif;
}
.abilities{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Flex', sans-serif;
}